.overview {
    max-width: 500px;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin-right: 5vw;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    text-align: left;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
   width: fit-content;
}
.overview h4 {
    margin-right: 500px;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 120px;
  }
  
  .learn h4 {
    margin-bottom: 10px;
  }
  
  .learn li {
    margin-bottom: 5px;
    list-style-type: none; 

  }
  .icon {
    margin-right: 8px; /* Add space to the right of the icon */
  }

  /* Media queries */
@media screen and (max-width: 1200px) {
    .overview {
      margin-right: 0; /* Remove right margin for smaller screens */
      margin-left: 50px; /* Adjust left margin for smaller screens */
    }
  
    .overview h4 {
      margin-right: 0; /* Remove margin for smaller screens */
    }
  
    .learn {
      margin-left: 50px; /* Adjust left margin for smaller screens */
    }
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .overview {
      max-width: 100%; /* Expand width to fit the screen */
      margin-left: 20px; /* Adjust margin for smaller screens */
    }
  
    .learn {
      margin-left: 20px; /* Adjust margin for smaller screens */
    }
  }